body {
	background-color: #222;
	color: #aaa;
}

.panel-body {
	background-image: url('/images/background-writting.jpg');
	font-family: 'Special Elite', cursive;
	color: #222;
}

.panel-title {
	font-family: 'Permanent Marker', cursive;
	font-size: 22px;
}

.table {
	background-color: #eee;
	color: #000;
}

.remove-musa {
	cursor: pointer;
}

.select-musa {
    cursor: pointer;
}

#musas-like {
	max-height: 143px;
	overflow: auto;
}

#header-nav {
	background-color: #CCC;
	border-bottom: 1px solid #666;
	border-left: 1px solid #666;
	border-right: 1px solid #666;
	margin: 0 0 12px 0;
	
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    color: #222;
}

.musa-name {
	cursor: pointer;
}

.musas-profile-list {
	margin-right: 2px;
	cursor: pointer;
}

.writting {
	cursor: pointer;
}

#usercontributions-wrapper {
	max-height: 560px;
	max-width: 230px;
	overflow: auto;
}

#musas-wrapper {
	width: 1170px;
	height: 530px;
	overflow: hidden;
	background-image: url('/images/background.jpg');
	border: 1px solid #eee;
	
}
.musas-home {
	position: relative;
}